<%= javascript_include_tag 'mdb' %>

<style>
  @media (min-width: 1025px) {
  .h-custom-2 {
  height: 100%;
  }
  }

  .img1{
    max-width: 100%; 
    max-height: 100%; 
    height: 120px;  
  }
  
</style>  

<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">
      <br>
        <div class="px-5 ms-xl-4">
          <img class="img1" src="https://i.imgur.com/mDaj6Rs.png">
          <span class="h1 fw-bold mb-0">Basketball Haven</span>
        </div>

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">  
          <div style="width: 23rem;">

            <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign up</h3>
              
              <div class="form-outline mb-3">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "E-mail" %>
              </div>

              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <div class="form-outline mb-4">
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
              </div>

              <div class="form-outline mb-4">
               
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password"  %>
              </div>

              <div class="form-outline mb-4">
              
              <%= f.text_field :name, required: true, class: "form-control", placeholder: "Name"%>
              </div>

              <%= f.fields_for :address_attributes, resource.build_address do |a| %>   
                <div class="form-outline mb-4">
                
                <%= a.text_field :city, required: true, class: "form-control", placeholder: "City"%>
                </div>

                <div class="form-outline mb-4">
                
                <%= a.text_field :street, required: true, class: "form-control", placeholder: "Street"%>
                </div>

                <div class="form-outline mb-4">
                
                <%= a.number_field :housenr, required: false, class: "form-control", placeholder: "House Number"%>
                </div>

                <div class="form-outline mb-4">
               
                <%= a.text_field :flat, required: false, class: "form-control", placeholder: "Flat"%>
                </div>

                <div class="form-outline mb-4">
                
                <%= a.number_field :floor, required: false, class: "form-control", placeholder: "Floor"%>
                </div>

                <div class="form-outline mb-4">
               
                <%= a.number_field :aptnr, required: false, class: "form-control", placeholder: "Ap. Number"%>
                </div>
              <% end %>

              <div class="pt-1 mb-4 ">
                <%= f.submit "Sign up", class: "btn btn-black btn-lg btn-block" %>
              </div>

            <% end %>
            <label>Already have an account?</label>
            <%= render "devise/shared/links" %> 
          </div>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://static01.nyt.com/images/2020/01/04/sports/03nba-takeaways3-print/merlin_166319154_b92292b2-1a0f-437d-a694-8a97b586227d-superJumbo.jpg?quality=75&auto=webp"
          alt="Signup image" class="w-100 vh-100" style="object-fit: cover; object-position: center;">
      </div>
    </div>
  </div>
</section>