<style>
      header {
        background-color: #333;
        color: #fff;
        padding: 1em;
      }
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      nav li {
        display: inline-block;
        margin-right: 1em;
      }
      nav a {
        color: #fff;
        text-decoration: none;
      }
      nav a:hover {
        text-decoration: underline;
      }   
      .gradient-custom-2 {
        /* fallback for old browsers */
        background: #00e1ff;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(0,225,255,0.5), rgba(240,0,0,0.5));
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(0,225,255,0.5), rgba(240,0,0,0.5))

        
      }
</style>  

<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/log_out">Log out</a></li>
      <li><a href="/categories">Categories</a></li>
      <li><a href="/products">Products</a></li>
    </ul>
  </nav>
</header>

<div class="container mt-5">
  <h2>Categories</h2>
  <%= link_to 'New Category', new_category_path %>
  <br>
  <table class="table table-info table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td><%= link_to 'Show', category %> | <%= link_to 'Edit', edit_category_path(category) %> | <%= link_to 'Destroy', category, data: { turbo_method: :delete, confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
